<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

_Exercise 1: Create a Jupyter Notebook_

_Create a new Jupyter notebook called DataScienceEcosystem.ipynb_

_Exercise 2: Create markdown cell with title of the notebook_

_Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading._

# Data Science Tools and Ecosystem

_Exercise 3 - Create a markdown cell for an introduction_
_Write an introductory sentence about the notebook such as the follows:_

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create tables
- Perform arithmetic operations

_Exercise 4 - Create a markdown cell to list data science languages_

_Start the cell with an overview line such as:_

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

_Exercise 5 - Create a markdown cell to list data science libraries_

_Add an overview line to the cell like:_

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

_Exercise 6 - Create a markdown cell with a table of Data Science tools_

_Create a single column table in this cell with the first row containing the header Data Science Tools. The subsequent three rows in the table should indicate three development environment open source tools used in data science._

| Data Science Tools |
| -------------|
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

_Exercise 7 - Create a markdown cell introducing arithmetic expression examples_
_Add a line in this cell with H3 style heading with text like:_

### Below are a few examples of evaluating arithmetic expressions in Python

_Exercise 8 - Create a code cell to multiply and add numbers_

_In this code cell evaluate the expression (3*4)+5._
_Insert a comment line before the expression to explain the operation e.g.  This a simple arithmetic expression to mutiply then add integers._
_Then execute the cell to ensure the expression returns the expected output of 17._

In [17]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

_Exercise 9 - Create a code cell to convert minutes to hours_

_In this code cell write an expression that converts 200 minutes into hours._
_Insert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60._
_Run the cell to evaluate the expression._

In [19]:
#This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

_Exercise 10 - Insert a markdown cell to list Objectives_

_Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science._

_Exercise 11 - Create a markdown cell to indicate the Author's name_

_In this markdown cell include the following text Author in H2 style heading. Include your name as regular text below the word Author._

## Author
Sergio Gonz√°lez Pellejero